.container {
    display: flex; 
    flex-direction: column;
    background-color: #F4EDE4;
      
  .titulo1{
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}

.iconos{
  display: flex;
  align-items: center;
  width: 20px;
  height: 15px;
  gap: 10px;
  margin: 30px;
  .b_icono{
    width: 40px;
  }

}

.imgtext {
  width: 100%;
  margin-left: 30px;
  background-color: #F4EDE4
   
}
.textocuadros{
  display: grid;
  justify-content: flex-end;
  justify-items: center;
  background-color: #F4EDE4;
}
           
.titulocuadros{
  font-size: 25px;
  font-weight: bold;
  background-color: #F4EDE4,
}
           
.btninfo{
  color: rgb(108, 108, 231);
  display: grid;
  justify-items: end;
  background-color: #F4EDE4;
}
    
.btninfo2{
  color: rgb(108, 108, 231);
  display: grid;
  justify-items: end;
  background-color: #F4EDE4;

}

