.container {
    display: flex; 
    flex-direction: column;
    background-color: #F4EDE4;
      
  .titulo1{
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .iconsempresas{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    

  }
  .imgtext {
    width: 40%;
    margin-left: 40px;
   
  }
  .textocuadros{
    display: grid;
    justify-content: flex-end;
    justify-items: center;
  }
    
        
    .titulocuadros{
        font-size: 25px;
        font-weight: bold;
    }
           
    }
    .btninfo{
        color: rgb(108, 108, 231);
        display: grid;
        justify-items: end;
        
    }
    .textocuadros2{
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    
    
    }
    .titulocuadros2{
        font-size: 25px;
        font-weight: bold;
        
    }
    
        .btninfo2{
        color: rgb(108, 108, 231);
        display: grid;
        justify-items: end;
        

    }

